.home__table_device_container {
    width: 60% !important;

    .ant-modal-header {
        border-bottom: 1px solid var(--border-color);

        .ant-modal-title {
            text-align: center;
            font-size: 30px;
            padding-bottom: 20px;
        }
    }

}